<!DOCTYPE html>
<html lang="en">

<head>
	<title>Python Flask Bucket List App</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumobtron-narrow.css" rel="stylesheet">

</head>

<body>

	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a>
					</li>
					<li role="presentation"><a href="#">Sign In</a>
					</li>
					<li role="presentation"><a href="showSignUp">Sign Up</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Python Flask App</h3>
		</div>

		<div class="jumbotron">
			<h1>Beck's Buecket List App</h1>
			<p class="lead"></p>
			<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today!!</a>
			</p>
		</div>

		<div class="row marketing">
			<div class="col-lg-6">
				<h4>Bucket List</h4>
				<p>Finish the lyrics I've been working on.</p>

				<h4>Bucket List 2</h4>
				<p>Go to nice vacation (to avoid winter from NYC)</p>

				<h4>Bucket List 3</h4>
				<p>Practice Chinese with kungfu movie every one hour at least</p>
			</div>

			<div class="col-lg-6">
				<h4>If or else</h4>
				<p>Let's see below</p>

				<h4>If I master Java</h4>
				<p>Study full-stack</p>

				<h4>Else</h4>
				<p>Practice python more?</p>
			</div>
		</div>

		<footer class="footer">
			<p>&copy; Giseung Beak 2018</p>
		</footer>

	</div>
</body>

</html>